.product-page-cards {
  --min-width: 400px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-width), 100%), 1fr)
  );
  place-items: center;
  padding-inline: var(--mobile-padding);
  gap: 1rem;
  min-height: 50vh;
}

.products-page {
  overflow: hidden;
}

.product-page-category-section {
  display: flex;
  /* flex-wrap: wrap; */
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  gap: 1rem;
  padding-block: 2rem;
  margin-bottom: 1rem;
  margin-inline: var(--mobile-padding);
  border-bottom: 6px solid var(--secondary-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.product-page-category-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-page-category-section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.category-card {
  flex: 1 0 100px;
}

.product-page-search-bar-mobile {
  padding-inline: var(--mobile-padding);
  display: none;
}

.no-products-found-msg {
  font-size: 1.2rem;
}

/* .product-page-search-bar-mobile-sticky {
  display: none;
  position: sticky;
  top: 92px;
} */

@media (max-width: 768px) {
  .products-page {
    margin-top: 92px;
  }
}

@media (max-width: 480px) {
  .product-page-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .product-page-search-bar-mobile {
    display: block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    position: sticky;
    top: 92px;
    z-index: 9;
  }
}
