.restaurant-details-page-hero {
  height: 200px;
}

.restaurant-details-page-desc {
  padding-inline: 2rem;
}

.restaurant-details-title h2 {
  font-size: clamp(1.8rem, 3vw, 3rem);
}

.restaurant-details-title div {
  font-size: 1.2rem;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.restaurant-details-cat-prod {
  display: flex;
  margin-top: 2rem;
  position: relative;
}

.restaurant-categories {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 0.5rem;
}

.restaurant-categories a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color-1);
  text-decoration: none;
  text-transform: capitalize;
}

.restaurant-products {
  width: 85%;
}

.restaurant-products-by-cat-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  place-items: center;
  gap: 1rem;
}

.restaurant-products-by-cat {
  margin-bottom: 2rem;
}

.restaurant-products-by-cat-title {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 2rem;
  border-bottom: 2px solid #999;
  padding-bottom: 1rem;
}

.restaurant-categories-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: sticky;
  top: 1rem;
}

.no-items-message {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  .restaurant-categories-links {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurant-categories {
    width: 100%;
  }

  .restaurant-categories a {
    background-color: var(--text-color-1);
    color: var(--primary-color);
    padding-inline: 1rem;
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
  }

  .restaurant-products-by-cat-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-details-cat-prod {
    flex-direction: column;
    gap: 2rem;
  }

  .restaurant-products {
    width: 100%;
  }

  .restaurant-products-by-cat-title {
    position: sticky;
    top: 92px;
    background-color: var(--primary-color);
    padding-top: 1rem;
    z-index: 9;
  }
}

@media (max-width: 1200px) {
  .restaurant-details-page {
    margin-top: 92px;
  }
}
